body
{
    background-image: url(qm.jpg);
    background-size: 100%;
    background-position: center 1px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    background-color: #081b33;
}


    
    



    
    
    
    
    
    
    
    
